@font-face {
  font-family: Dfbk5hnlu1_0;
  src: url(./Dfbk5hnlu1_0.woff2);
}

body {
  font-family: sans-serif;
}

.customFont {
  font-family: Dfbk5hnlu1_0;
}

.large {
  font-size: 40px;
}

.bold {
  font-weight: bold;
}
